// diférente couleur
$white: #fff;
$pink: #c69;
$gren: green;
$couleur-du-titre: $pink;
$couleur-header: #70adad;
$couleur-paragraphe: #6B717F;
// font-family
$font: Arial, Helvetica, sans-serif;
// la couler du fond du site
$fond-du-site: #DADBDF;
// Un padding de 20px
$padding: 20px;
// Color hover
$hover: #6B717F;
$hover-menu: $hover;
// bouton de recherche, user, ect...
$couleur-bouton-vert: $gren;