@function unitParametre($valeur) {
   @if type_of($valeur) == 'number' and unitless($valeur) {
      @return $valeur#{$defaultUnit};
   } @else if (length($valeur)) > 1 {
      $unRetour: ();
      @each $item in $valeur {
         $compte: unitParametre($item);
         $unRetour: join($unRetour, $compte)
      }
      @return $unRetour;
   } @else {
      @return $valeur;
   }
}