header {
  background: linear-gradient(lighten($couleur-header, 35%), $couleur-header);
  padding: $padding;
  display: flex;
  h1 {
    font-family: $font;
    font-size: 2rem;
    color: $couleur-du-titre;
    flex: 10;
  }
  // end h1
  ul{
    flex: 2;
    @extend %listReset;
    li{
      display: inline-block;
    }
  }
}

//end header