body {
  background: {
    image: url("img/css-27192.svg");
    color: $fond-du-site;
    attachment: fixed;
  }
}

.wrapper {
  width: 960px;
  margin: 20px auto;
  background-color: transparentize($white, 0.1);
  border: solid 3px $couleur-header;
}
%listReset{
  padding: 0;
  margin: 0;
  list-style: none;
}